anyio==3.6.2
certifi==2022.5.18.1
Flask==2.2.2
Flask-PyMongo==2.3.0
Markdown==3.4.1
MarkupSafe==2.1.1
openai==0.26.5
pymongo==4.3.3
pyopenssl==23.0.0
pytest==7.2.1
python-dotenv==0.21.1
pytest-env==0.8.1
requests==2.27.1
responses==0.18.0
wandb==0.13.10
Werkzeug==2.2.2
